{% extends 'mainshop/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    #modify-button{
      color: #ef22c2;
      background-color: #faf9f9;
      letter-spacing: 0px;
      padding: 24px 20px;
      border-radius: 10px;
      font-size: 22px;
     margin-top: 20px;
    }
  
    
  </style>


<div class="container">
    <div class="card" style="background: rgb(240,236,238);
    background: linear-gradient(365deg, rgba(240,236,238,1) 0%, rgba(250,249,250,1) 35%, rgba(255,255,255,1) 100%); border:1px;">
        <div class="card-body">
            <h3 class="text-center" style="font-family: unset;">{{ controller }}</h3>
            <form action="" method="POST">
                {% csrf_token %}

                {% if error %}
				<font color="red">{{error}}</font>
				{% endif %}

                {{ form | crispy }}
                <p></p>
                
                <input type="submit" value="{{ controller }}" class="btn btn-danger" id="modify-button">
            </form>
        </div>
    </div>
</div>

{% endblock %}