<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
     
     
       
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css'  %}">
   <title>ShopTrust</title>
    
<style>
  #logout-btn{
    color: #e846c5;
    background: #f9f9f9;
    letter-spacing: 0px;
    padding: 13px 14px;
    border-radius: 10px;
    font-size: 15px;
  }

  .btn::before{
    background: #c2c2c2;
  }

  #submenu {
   border-top: 5px solid #ff33dd;
  }
   
 
</style>
  </head>
  <body>
    <header>
      <div class="header-area">
        <div class="main-header ">
           <div class="header-bottom  header-sticky mb-3 " style="background-color: rgb(255, 254, 254);">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                          <div class="logo">
                            <a href="{% url 'mainshop:home' %}"><img height=100px src="{% static 'logo3.png' %}" alt=""></a>
                          </div>
                      </div>
                        <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                          
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block" id="menu">
                                 <nav>                                                
                                    <ul id="navigation"> 
                                        <li><a href="{% url 'mainshop:home' %}">Home </a></li>
                                        <li><a href="{% url 'mainshop:category_list' %}">Shops</a>
                                          {% if user.is_superuser %}
                                            <ul class="submenu" id="submenu">
                                              <li><a href="{% url 'mainshop:category_list' %}"> Categories </a></li>
                                              <li><a href="{% url 'mainshop:newshop' %}"> Add Shop</a></li>                                                
                                            </ul>
                                            {% endif %}
                                        </li>
                                        <li><a href="{% url 'contact:contact' %}">Contact</a></li>
                                        {% if user.is_authenticated %}
                                        <li><a href="{% url 'account:profile' user.id %}">Profile</i></a>
                                          <ul class="submenu" id="submenu">
                                            <li><a href="{% url 'account:profile' user.id %}"> My Profile</a></li>
                                            <li><a href="{% url 'account:fav' user.id %}"> Favourite shops</a></li>
                                        </ul></li>
                                        {% endif %}
                                    </ul>
                                </nav>
                                <div id="mobile-menu-wrap"></div>
                            </div>
                        </div>


                        <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                           <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                            <ul class="header-right">
                              <li class="d-none d-xl-block">
                                  <div class="form-box f-right ">
                                    <form class="form-inline d-flex justify-content-center md-form form-sm" action="{% url 'mainshop:search_results' %}" method="get">
                                      <input class="form-control" name="q" type="text" placeholder="Search shop" aria-label="Search" style="padding: 22px 20px;">
                                      <div class="search-icon">
                                        <i class="fas fa-search "></i>
                                    </div>
                                    </form>
                                  </div>
                               </li>
                            </ul>
                            
                                                          
                            {% if user.is_authenticated %}
                            <li class="nav-item dropdown">
                              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black">
                                <span id="hello-msg" style="color: black; font-size: 20px;" >Hello, <strong>{{ request.user.account.username }}</strong></span>  
                              </a>
                              <div class="dropdown-menu" aria-labelledby="navbarDropdown" >
                                 <a class="dropdown-item" href="{% url 'account:logout' %}">Logout</a>
                              </div>
                            </li>
                            {% else %}
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'account:login' %}" style="color: black">Login <i class="fas fa-sign-in-alt"></i></a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link" href="{% url 'account:registration' %}" style="color: black">Register</a>
                            </li>
                            {% endif %}
                              </li>
                          </ul>
                      </div>
                      <!-- Mobile Menu -->
                      <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                    </div>
                </div>
           </div>
        </div>
   </div>
      <!-- Header End -->
  </header>



    {% block content %}

    {% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
    
  </body>
</html>