{% extends 'mainshop/base.html' %}


{% block content %}

<style>

#card:hover{
    
    background-color: rgb(253, 215, 248);
}

#badge-site{
        align-items: center;
        padding: 16px 20px;
        margin-top: 10px;
    }




</style>


<h2 class="text-center" style="font-family: unset; font-size: 50px;"> <strong>Categories</strong>  </h2>

<div class="container mt-4 " style="max-width: 940px;">
    
    
    {% for item in list %}
    <div class="col-md-12" >
     
    <div class="card shadow p-3" id="card" style="border: 1px solid rgb(235 105 243 / 13%); height: 140px; border: 0px; background: rgb(240,236,238); background: linear-gradient(365deg, rgba(240,236,238,1) 0%, rgba(250,249,250,1) 35%, rgba(255,255,255,1) 100%);">
        
        <div class="row">
            <div class="col-md-3">
                <div class="shadow-sm p-2 mb-1 bg-white rounded" width="50%" style="transform:translateX(-50px);     width: 170px;">
                    
                        <img class="img-fluid" src="{{ item.image }}" >
                    
                </div>
            </div>
            <div class="col-md-6 " style="padding-top: 20px;">
                <section class="header-section">
                    <h2 style="text-align: center; font-family: unset; margin-top: 5px;"><a href="{% url 'mainshop:category' item %}" style="color: #000000;" > {{ item }}</a></h2> 
                    {% if user.is_superuser %}   
                <a href="{% url 'mainshop:delete_category' item %}" onclick="return confirm('Are you sure you want to delete this?');" class="txt2" style="color:#e71aa8;     margin-left: 150px; text-align: center; font-family: unset; margin-top: 10px;">
                    Delete <strong>{{ item }}</strong>
                </a>
                {% endif %}                      
                </section>
               </div>
               <div class="col-md-2">
                <!-- BADGE SITO -->
            
                <div class="badges" data-badges="" style="    margin-top: 20px;">
                    <div class="badges__badges">
                        <div class="badge-card">
                            <a href="{% url 'mainshop:category' item %}" class="badge badge-light" id="badge-site" style="background-color: #ecc3e3;">
                                 <i class="fas fa-arrow-circle-right large"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div> 
    <br>
    {% endfor %}
</div>



{% endblock %}