{% extends 'mainshop/base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<style>
    #modify-button{
      color: #ef22c2;
      background-color: #faf9f9;
      letter-spacing: 0px;
      padding: 24px 20px;
      border-radius: 10px;
      font-size: 22px;
     margin-top: 20px;
    }
  
    
  </style>

<div class="container">
    <div class="card">
        <div class="card-body">
            <h3 class="text-center" style="font-family: unset;">Change settings</h3>
            <form action="" method="POST">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" value="Submit" class="btn btn-danger" id="modify-button">
            </form>
        </div>
    </div>
</div>


{% endblock %}