{% extends 'mainshop/base.html' %}

{% load static %}
{% block content %}


<style>

    .button-like{
        border-radius: 18px;
        background-color: transparent;
        border: solid 1px transparent;
        color: rgb(0, 0, 0);
        padding: 0px 0px;
        cursor: pointer;
        transition: all .1s ease-in-out;
        font-size:18px;
        width: 20px;
    }

    .like-form{
        display: flex;
    }

    #modify-button{
      color: #ef22c2;
      background-color: #faf9f9;
      letter-spacing: 0px;
      padding: 16px 14px;
      border-radius: 10px;
      font-size: 15px;
     margin-top: 20px;
    }

    #add-button{
        color: #ffffff;
      background-color: #ef22c2;
      letter-spacing: 0px;
      padding: 23px 20px;
      border-radius: 10px;
      font-size: 18px;
     margin-top: 20px;
     margin-left: 20px;
    }

    #badge-site{
        padding: 16px 80px;
    }

    #add-review{
        padding: 16px 80px;
        margin-left: 20px;
        background-color: #ecc3e3;
        
    }

    .stars-outer {
  position: relative;
  display: inline-block;
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-outer::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #cccccc;
  font-size: 25px;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  color: #f8ce0b;
  font-size: 25px;
}

.button {
  border-radius: 18px;
  background-color: #e0e0e0;
  border: solid 1px transparent;
  color: rgb(0, 0, 0);
  padding: 2px 2px;
  cursor: pointer;
  transition: all .1s ease-in-out;
  font-size:13px;
  width: 70px;

  
  
}

.user-rating{
        display: flex;
    }
  
    .user-rating h2{
        font-size: 4.5rem;
        margin-right: 10px;
        color:#666;
    }

    .no-user{
        padding-top: 0px;
    }

  
</style>


    <div class="card shadow p-3 mb-5" style="background: rgb(240,236,238); background: linear-gradient(365deg, rgba(240,236,238,1) 0%, rgba(250,249,250,1) 35%, rgba(255,255,255,1) 100%); border: 0px;">
    <div class="shop" id="shop">
        <div class="row">
            <div class="col-md-4">
               
                <div class="shadow-sm p-3 mb-2 bg-white rounded">
                    <a href="{{ shop.website }}" title="" target="_blank" rel="nofollow noopener">
                        <img class="img-fluid" alt="{{ shop.name }}" src="{{ shop.logo }}">
                    </a>
                </div>
                
            </div>
            <div class="col-md-4 ">
                    <section class="header-section">
                        <h1 class="multi-size-header" style="font-family: unset;">
                            <span class="multi-size-header__big" style="font-family: unset;">
                                {{ shop.name }}
                            </span>
                        </h1>
                        <h4 class="multi-size-header" style="font-family: unset;">
                            <a href="{% url 'mainshop:category' shop.categ %}" >
                            <span class="multi-size-header__big" style="font-style: unset;  color: #343a40!important;" >
                                {{ shop.categ }}
                            </span></a>
                        </h4>
                        <!-- DA CAMBIARE QUESTO PEZZO PERCHE' NON SO COME CALCOLARE NUMERO DI RECENSIONI-->
                        
                    </section>

                    <div class="user-rating">
                        <h2 class="average"> {{ average }}</h2> 
                        <div class="rate" style="margin-top: 20px;">
                        <div class="stars-outer">
                            <div class="stars-inner"></div>
                            
                          </div> 
                          <br>
                          <span class="no-user">{{ total }} review</span>    
                        </div>
                        
                    </div> 
                           
                            
                    
                                      
                    {% if user.is_superuser %} 
                    <a href="{% url 'mainshop:change_shop' shop.id %}" id="modify-button" class="btn btn-warning">Change settings</a>
                    <a href="{% url 'mainshop:delete_shop' shop.id %}" id="modify-button"  onclick="return confirm('Are you sure you want to delete this?');" class="btn btn-danger">Delete Shop</a>
                    {% endif %}
                    <br>
                    <br>
                    <a href="{% url 'mainshop:category' shop.categ %}" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30" style="color: #383838;">
                        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 16 16" width="16" height="16" ><path fill-rule="evenodd" d="M7.78 12.53a.75.75 0 01-1.06 0L2.47 8.28a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 1.06L4.81 7h7.44a.75.75 0 010 1.5H4.81l2.97 2.97a.75.75 0 010 1.06z"></path></svg>
                         Back to Shops
                        </a>

                </div>
                <br>
                <div class="col-md-4">
                    <!-- BADGE SITO -->
                <br>
                    <div class="badges" data-badges="">
                        <div class="badges__badges">
                            <div class="badge-card">
                                <a href="{{ shop.website }}" class="badge badge-light" id="badge-site">
                                    <svg xmlns="http://www.w3.org/2000/svg" style="vertical-align: sub;"viewBox="0 0 16 16" width="14" height="14"><path fill-rule="evenodd" d="M1.543 7.25h2.733c.144-2.074.866-3.756 1.58-4.948.12-.197.237-.381.353-.552a6.506 6.506 0 00-4.666 5.5zm2.733 1.5H1.543a6.506 6.506 0 004.666 5.5 11.13 11.13 0 01-.352-.552c-.715-1.192-1.437-2.874-1.581-4.948zm1.504 0h4.44a9.637 9.637 0 01-1.363 4.177c-.306.51-.612.919-.857 1.215a9.978 9.978 0 01-.857-1.215A9.637 9.637 0 015.78 8.75zm4.44-1.5H5.78a9.637 9.637 0 011.363-4.177c.306-.51.612-.919.857-1.215.245.296.55.705.857 1.215A9.638 9.638 0 0110.22 7.25zm1.504 1.5c-.144 2.074-.866 3.756-1.58 4.948-.12.197-.237.381-.353.552a6.506 6.506 0 004.666-5.5h-2.733zm2.733-1.5h-2.733c-.144-2.074-.866-3.756-1.58-4.948a11.738 11.738 0 00-.353-.552 6.506 6.506 0 014.666 5.5zM8 0a8 8 0 100 16A8 8 0 008 0z"></path></svg>
                                    <i></i> Website</a>
                                <br>
                                <br>
                                {% if user.is_authenticated %}
                                <a href="{% url 'mainshop:review' shop.id %}" class="badge badge-light" id="badge-site" style="background-color: #ecc3e3;">
                                    Add Review </a>
                                    <br>
                                    <br>

                                    <form id="favoriteform" name="favoriteform" method="POST" action="">
                                        {% csrf_token %}
                                        <a href="javascript:void()" name="favoriteform" onclick="document.getElementById('favoriteform').submit();" class="favorite" >
                                            {% if favorited is False %}
                                            <i class="far fa-heart fa-lg ml-100" style="color: #f71228;; font-size: 25px;"></i>
                                            {% else %}
                                            <i class="fas fa-heart fa-lg ml-100" style="color: #f71228;; font-size: 25px;"></i>
                                            {% endif %}
                                        </a>
                                    </form> 

                                    {% endif %}
                                <br>


                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                
                
                </div>
                </div>


    <br>
    <div class="rev" id="rev">
        <div class="card-body" style="padding-top: 20px; padding-bottom: 0px;">
            <h3 class="text-center" style="font-family: revert;">Reviews</h3>
            
            <form id="orderform" name="orderform" method="POST" action="">
                {% csrf_token %}
                <select name="order" style="border: 1px solid #9F9898; border-radius: 30px;">
                    <option disabled="True" selected> Change order </option>
                    <option value="Date" > Date </option>
                    <option value="Title"> Title </option>
                    <option value="BestRating"> High-Low Rating </option>
                    <option value="LowRating"> Low-High Rating </option>
                </select>
                <input type="submit" name="orderform" class="button" value="Submit">
            </form>

            {% if error %}
            
            <h3 style="font-family: revert; color: rgb(226, 43, 43); text-align: center; margin-top: 20px;">{{ error }}</h3>
            {% endif %}
             {% for review in reviews %}
                <div id="review" class="card shadow-sm p-3 mb-2 bg-white rounded" style="background: rgb(240,236,238);
                background: linear-gradient(365deg, rgba(240,236,238,1) 0%, rgba(250,249,250,1) 35%, rgba(255,255,255,1) 100%);     border: solid;
    border-color: #f7f7f7;" >
                    <div class="card-body" >
                        <div class="row">
                            <div class="col-md-1" style="padding-right: 0px;">

                                <img src="{{ review.user.account.image.url }}" class="rounded-circle account-img"  style="height:90px; width: 90px; margin-bottom:20px">
                            </div>
                            <div class="col-md-3" style="padding-left: 0px;">
                                <h4 class="text-left" style="font-family: revert; " ><a href="{% url 'account:profile' review.user.id %}" id="username" style="color: #000000; " > {{ review.user.username }}</a></h4>
                                
                                
                                <div class="review-rating">
                                
                                    {% if review.rating < 1 %}<i class="fa fa-star" style="color: #cccccc;"></i>{% else %}<i class="fa fa-star"  style="color: #f8ce0b;"></i>{% endif %}
                                    {% if review.rating < 2 %}<i class="fa fa-star" style="color: #cccccc;"></i>{% else %}<i class="fa fa-star" style="color: #f8ce0b;"></i>{% endif %}
                                    {% if review.rating < 3 %}<i class="fa fa-star" style="color: #cccccc;"></i>{% else %}<i class="fa fa-star"  style="color: #f8ce0b;"></i>{% endif %}
                                    {% if review.rating < 4 %}<i class="fa fa-star" style="color: #cccccc;"></i>{% else %}<i class="fa fa-star"  style="color: #f8ce0b;"></i>{% endif %}
                                    {% if review.rating < 5 %}<i class="fa fa-star" style="color: #cccccc;"></i>{% else %}<i class="fa fa-star"  style="color: #f8ce0b;"></i>{% endif %}
                                                      
                                </div>
                               
                                
                                <p></p>
                                <h6 style="font-family: unset; font-size: 13px;">Published on <strong>{{ review.rev_date }}</strong></h6>
                                
                                {% if request.user == review.user %}
                                <form action="{% url 'mainshop:remove_review' %}" method="post">
                                    {% csrf_token %}
                                        
                                        <button type="submit" style="background-color: transparent; border: transparent; height: 20px;"><p><i class="fas fa-trash"></i> Delete</p></button>
                                        <input type="hidden" name="review_id" value={{review.id}}>
                                </form>
                               
                                
                                {% endif %}
                            </div>
                            <div class="col-md-7" style="font-family: revert;">
                                <p><strong style="font-family: revert;">{{ review.title }}</strong></p>
                                <p><strong>“</strong> {{ review.comment }} <strong>”</strong></p>

                                <div class="like-form">
                                    {% if user.is_authenticated %}
                                    {% if request.user != review.user %}
                                    <form id="likeform" name="likeform" method="POST" action="{% url 'mainshop:likereview' shop.id review.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="likeform" value="{{ review.id }}">
                                        {% if request.user not in review.likes.all %}

                                        <button class="button-like" type="submit" data-toggle="tooltip" data-placement="bottom" title="Like this review"><i class="fas fa-thumbs-up" style="color: #919191;"></i></button>
                                        
                                        {% else %}
                                        <button class="button-like" type="submit" data-toggle="tooltip" data-placement="bottom" title="Remove the like to this review"><i class="fas fa-thumbs-up" type="submit" style="color: #000000;"></i>    </button>
                                        
                                        {% endif %}
                                       
                                    </form> 
                                    {% endif %}
                                    {% endif %}

                                <h4 style="margin-top:7px; padding-left: 20px; font-family: unset; font-size: 15px;">{{ review.likes.all.count }} likes</h4>
                                
                            </div>    
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                {% endfor %}
        </div>
   
</div>

<script>

    // Initial Ratings
    const ratings = {
          shop: '{{ average }}',
        }

        var s = document.getElementById("username").innerHTML;
        console.log(s)
        
        // Total Stars
        const starsTotal = 5;
         
        // Run getRatings when DOM loads
        document.addEventListener('DOMContentLoaded', getRatings);

        // Get ratings
        function getRatings() {
            for (let rating in ratings) {
        // Get percentage
        const starPercentage = (ratings[rating] / starsTotal) * 100;

        // Round to nearest 10
        const starPercentageRounded = `${Math.round(starPercentage / 10) * 10}%`;
        console.log(starPercentageRounded)
        

        // Set width of stars-inner to percentage
        document.querySelector(`.${rating} .stars-inner`).style.width = starPercentageRounded;


            }
            
        }
    
    
    
    </script>

{% endblock %}

