{% extends 'mainshop/base.html' %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/main.css'  %}">



{% block content %}

<style>
    body {
 background-image: url("static/HOME3.png");
 background-color: #ffffff;
 width: 100%;
  height: 400px;
  position: fixed;
  top: 0;
  left: 0;
}
</style>
<body>
    



<div class="header-bottom  header-sticky">
    <div class="container-fluid">
        <div class="row align-items-center">
            <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between" style="padding-left: 600px;">
                    <!-- Search form -->
              <div class="ml-3">            
                  <form class="form-inline d-flex justify-content-center md-form form-sm" action="{% url 'mainshop:search_results' %}" method="get">
                      <input class="form-control" name="q" type="text" placeholder="Search shop" aria-label="Search" style="border-radius: 100px; border: 1px solid #ffaff5;     margin-top: 500px;"> <i class="fas fa-search" style="margin-left: 10px; margin-top: 500px;" aria-hidden="true" type="submit"></i>
                    </form>
                      <br>
                                                        
                      <span class="txt1">
                        Do you want to add a new Shop?
                    </span>

                    <a href="{% url 'contact:contact' %}" class="txt2" style="color:#e71aa8">
                        Contact us!
                    </a>   
                 
              
            </div>
            
          </ul>
         
              
         
       
        </div>
    </div>
</div>



</body>

{% endblock %}

