{% extends 'mainshop/base.html' %}

<!-- Font Awesome -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">




{% block content %}


<style>
    #modify-button{
      color: #ef22c2;
      background-color: #f7f5f5;
      letter-spacing: 0px;
      padding: 22px 20px;
      border-radius: 10px;
      font-size: 20px;
     margin-top: 20px;
    }

    .stars-outer {
        display: inline-block;
        position: relative;
        font-family: Font Awesome 5 Free;
}
 
    .stars-outer::before {
        content: "\f005 \f005 \f005 \f005 \f005";
        }
 
    .stars-inner {
     position: absolute;
     top: 0;
    left: 0;
     white-space: nowrap;
     overflow: hidden;
     width: 50%;
     
    
}
 
    .stars-inner::before {
     content: "\f005 \f005 \f005 \f005 \f005";
     color: #f8ce0b;
    }


    .rating {
    float:left;
}

/* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
   follow these rules. Every browser that supports :checked also supports :not(), so
   it doesn’t make the test unnecessarily selective */
.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

</style>
<br>
<div class="card">
    <div class="card-body">
            <h3 class="text-center" style="font-family: unset;">Add Review for <strong> {{ shops }}</strong></h3>
            <form action="" method="POST">
                {% csrf_token %}
                <label for="title">Title</label>
                <textarea name="title" id="title" cols="1" rows="1" class="form-control"></textarea>
                <label for="comment">Description</label>
                <textarea name="comment" id="comment" cols="30" rows="5" class="form-control"></textarea>
                <br>
                 <strong class="text-uppercase"> Your rating: </strong>
                <br>
                

                <form id="ratingForm">
                    <fieldset class="rating">
                       
                        <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="5">5 stars</label>
                        <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4">4 stars</label>
                        <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3">3 stars</label>
                        <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2">2 stars</label>
                        <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1">1 star</label>
                    </fieldset>
                    <br>
                    <br>
                    
                    <input type="submit" id="modify-button" class="btn btn-danger" value="Submit">
                </form>

                

                </div>

               
                <a href="{% url 'mainshop:category' shops.categ  %}" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30" style="color: #a0a0a0;">
                    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 16 16" width="16" height="16" ><path fill-rule="evenodd" d="M7.78 12.53a.75.75 0 01-1.06 0L2.47 8.28a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 1.06L4.81 7h7.44a.75.75 0 010 1.5H4.81l2.97 2.97a.75.75 0 010 1.06z"></path></svg>
                     Back to Shops
                    </a>
                
            </form>
        </div>
    </div>


    <script>

$(document).ready(function() {
    $("form#ratingForm").submit(function(e) 
    {
        e.preventDefault(); // prevent the default click action from being performed
        if ($("#ratingForm :radio:checked").length == 0) {
            $('#status').html("nothing checked");
            return false;
        } else {
            $('#status').html( 'You picked ' + $('input:radio[name=rating]:checked').val() );
        }
    });
});





</script>

    
{% endblock %}