{% extends 'mainshop/base.html' %}

{% block content %}


<style>
      #modify-button{

      background-color: #faf9f9;
      letter-spacing: 0px;
      padding: 8px 30px;
      border-radius: 10px;
      font-size: 15px;
    }
  </style>

<div class="container">
    <br>
        <div class="row">
            {% if query %}
            <font color="red" style="font-size: 30px;">{{query}}</font>
            {% endif %}
                {% for s in shops %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="text-center">
                            
                            <h2 class="text-center" style="font-family: unset;">{{ s.name }}</h2>
                            <div class="shadow-sm p-3 mb-2 bg-white rounded"><img src="{{ s.logo }}" alt="" class="img-fluid" width="100px" height="100px"></div>
                             
                            <i class="text-center text-secondary" style="font-style: normal;">{{ s.categ }}</i>
                            <br>
                            <i class="text-center text-secondary" style="font-style: normal;"> <strong>Rating:</strong></i>
                                <i class="text-center text-secondary" style="font-style: normal;">{{ s.averageRating }}</i>
                                <i class="fa fa-star" aria-hidden="true" width="10px" ></i>



                            <p></p>
                            <a id="modify-button"   href="{% url 'mainshop:detail' s.id %}" style="color: #ef22c2">Detail</a>
                            
                        </div>
                        
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        
    
</div>



{% endblock %}

