{% extends 'mainshop/base.html' %}

{% block content %}

<style>
#badge-site{
        align-items: center;
        padding: 16px 80px;
    }

</style>

<h2 class="text-center" style="font-family: unset;">Your favourites</h2>
<div class="container mt-5">
    {% for shop in shops %}
    
    <div class="card shadow p-3 mb-5 bg-white rounded" style="border: 1px solid rgb(235 105 243 / 13%); height: 220px; background: rgb(240,236,238); border: 0px; background: linear-gradient(365deg, rgba(240,236,238,1) 0%, rgba(250,249,250,1) 35%, rgba(255,255,255,1) 100%);">
        <div class="row">
            <div class="col-md-3">
                <div class="shadow-sm p-3 mb-2 bg-white rounded" width="80%" style="transform:translateX(-50px);">
                    <a href="{{ shop.website }}" title="" target="_blank" rel="nofollow noopener">
                        <img class="img-fluid" alt="{{ shop.name }}" src="{{ shop.logo }}" >
                    </a>
                </div>
                
            </div>

            <div class="col-md-4 " style="padding-top: 20px;">
                <section class="header-section">
                    <h1 class="multi-size-header" style="font-family: unset;">
                        <a href="{% url 'mainshop:detail' shop.id %}"><span class="multi-size-header__big" style="font-family: unset; color: black;">
                            {{ shop.name }}
                        </span></a>
                    </h1>
                    <i class="text-center text-secondary" style="font-style: normal;">{{ shop.categ }}</i>
                            <br>
                             <i class="text-center text-secondary" style="font-style: normal;"> <strong>Rating:</strong>                          
                             
                                    {{ shop.averageRating }}
                                    
                                    {% if shop.averageRating >= 1 %}<i class="fa fa-star"  style="color: #f8ce0b;"></i>{% else %} <i class="fa fa-star"  style="color: #e6e5e4;"></i> {% endif %}
                                    {% if shop.averageRating == 1.5 %}<i class="fa fa-star-half"  style="color: #f8ce0b;"></i>{% endif %}
                                    {% if shop.averageRating >= 2 %}<i class="fa fa-star" style="color: #f8ce0b;"></i> {% elif shop.averageRating != 1.5 %} <i class="fa fa-star"  style="color: #e6e5e4;"></i>{% endif %}
                                    {% if shop.averageRating == 2.5 %}<i class="fa fa-star-half"  style="color: #f8ce0b;"></i>{% endif %}
                                    {% if shop.averageRating >= 3 %}<i class="fa fa-star"  style="color: #f8ce0b;"></i>{% elif shop.averageRating != 2.5 %} <i class="fa fa-star"  style="color: #e6e5e4;"></i> {% endif %}
                                    {% if shop.averageRating == 3.5 %}<i class="fa fa-star-half"  style="color: #f8ce0b;"></i>{% endif %}
                                    {% if shop.averageRating >= 4 %}<i class="fa fa-star"  style="color: #f8ce0b;"></i>{% elif shop.averageRating != 3.5 %} <i class="fa fa-star"  style="color: #e6e5e4;"></i> {% endif %}
                                    {% if shop.averageRating == 4.5 %}<i class="fa fa-star-half"  style="color: #f8ce0b;"></i>{% endif %}
                                    {% if shop.averageRating >= 5 %}<i class="fa fa-star" style="color: #f8ce0b;"></i>{% elif shop.averageRating != 4.5 %} <i class="fa fa-star"  style="color: #e6e5e4;"></i> {% endif %}
                                                
                                
                            </i>
                </section>
               </div>
               <div class="col-md-4">
                <!-- BADGE SITO -->
            <br>
                <div class="badges" data-badges="" style="    margin-top: 20px;">
                    <div class="badges__badges">
                        <div class="badge-card">
                            <a href="{% url 'mainshop:detail' shop.id %}" class="badge badge-light" id="badge-site" style="background-color: #ecc3e3;">
                                 Detail </a>
                            <br>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <br>
    {% endfor %}
    <a href="{% url 'mainshop:category_list' %}" class="badge badge-light" id="badge-site" style="background-color: #e6dde4;">
        <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 16 16" width="16" height="16" ><path fill-rule="evenodd" d="M7.78 12.53a.75.75 0 01-1.06 0L2.47 8.28a.75.75 0 010-1.06l4.25-4.25a.75.75 0 011.06 1.06L4.81 7h7.44a.75.75 0 010 1.5H4.81l2.97 2.97a.75.75 0 010 1.06z"></path></svg>
        Back to Shops </a>
    
</div>

{% endblock %}