<title>ShopTrust</title>
<!-- Template CSS code -->
{% block css %}
{% load static %}

<!--===============================================================================================-->	
    <link rel="icon" type="image/png" href="{% static 'login_template/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_template/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_template/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_template/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_template/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login_template/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_template/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_template/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'login_template/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'login_template/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'login_template/css/main.css' %}">
<!--===============================================================================================-->

{% endblock %}

{% load crispy_forms_tags %}

{% block content %}
 
<div class="limiter">
    <div class="container-login100">
        <img src="{% static 'welcome.png' %}" alt="" class="">
        <div class="wrap-login100">
             <form class="login100-form validate-form" action="" method="POST">
                {% csrf_token %}
                {{ form | crispy }}

                {% if error %}
                    <i style="color: red;">{{ error }}</i>
                {% endif %}
                <div class="container-login100-form-btn">
                    <button type="submit" class="login100-form-btn" style="background-color: #ce4f8c;">
                        Login
                    </button>
                </div>
               
                <ul class="login-more p-t-40">
                        <span class="txt1">
                            Don’t have an account?
                        </span>
                        <a href="{% url 'account:registration' %}" class="txt2" style="color:#e71aa8">
                            Sign up
                        </a>
                </ul>
            </form>
        </div>
    </div>
</div>

{% endblock %}


<!-- Template JS code -->
{% block js %}
	
<!--===============================================================================================-->
	<script src="{% static 'login_template/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login_template/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login_template/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'login_template/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login_template/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login_template/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'login_template/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login_template/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'login_template/js/main.js' %}"></script>

{% endblock %}