{% extends 'mainshop/base.html' %}

{% load crispy_forms_tags %}

<style>

  
    #badge-site{
        padding: 10px 60px;
        margin-left: 20px;
    }

  
    
  </style>
{% block content %}

  <div class="container" style="margin-top:30px">
    {% if messages %}
    
        {% for message in messages %}
        <div class="alert alert-danger" role="alert" style="text-align: center;">
        <h6  {% if message.tags %} class=" {{ message.tags }} " style="font-family: unset;" {% endif %}> {{ message }} </h6>
        </div>
        {% endfor %}
    
        {% endif %}
        <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>

                            
            {% for field in update_form  %}
                  
            
            {% if field.name|stringformat:"s" == "username" %}
            <div id="div_id_username" class="form-group"> <label for="id_username" class=" requiredField"> Username <span class="asteriskField">*</span> </label> 
                <div class=""> <input type="text" name="{{ field.name}}" value="{{  user.account.username }}" maxlength="150" class="textinput textInput form-control" required id="id_username"> 
                    <small id="hint_id_username" class="form-text text-muted">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small> </div> </div> 
                    
            {% elif field.name|stringformat:"s" == "first_name" %}
            <div id="div_id_first_name" class="form-group"> <label for="id_first_name" class="">
                First name
            </label> <div class=""> <input type="text" name="{{ field.name}}" value="{{ user.account.first_name }}" maxlength="150" class="textinput textInput form-control" id="id_first_name"> </div> </div> 
            
            {% elif field.name|stringformat:"s" == "last_name" %}
            <div id="div_id_last_name" class="form-group"> <label for="id_last_name" class="">
                Last name
            </label> <div class=""> <input type="text" name="{{ field.name}}" value="{{  user.account.last_name }}" maxlength="150" class="textinput textInput form-control" id="id_last_name"> </div> </div> 
            
            {% elif field.name|stringformat:"s" == "email" %}
            <div id="div_id_email" class="form-group"> <label for="id_email" class="">
                Email address
            </label> <div class=""> <input type="email" name="{{ field.name}}" value="{{  user.account.email }}" maxlength="254" class="emailinput form-control" id="id_email"> </div> </div>

            {% elif field.name|stringformat:"s" == "image" %}
            <div id="div_id_image" class="form-group"> <label for="id_image" class=" requiredField"> Image <span class="asteriskField">*</span> </label> 
            <input type="file" name="{{ field.name}}" accept="image/*" class="clearablefileinput form-control-file" id="id_image"> </div> 

            {% endif %}
            {% endfor %}
            
            
        </fieldset>

        <div class="form-group">
            <button id="badge-site" class="badge badge-light" type="submit" style="background: #e9ecef; color: #f647d8; font-size: 20px;">Update</button>
            <span class="txt1">
                or 
            </span>

            <a href="{% url 'account:profile' user.id %}" class="txt2" style="color:#e71aa8">
                go back
            </a> 
        </div>
        
    </form>
  </div>




{% endblock content %}
