{% extends 'mainshop/base.html' %}


{% load static %}
{% load crispy_forms_tags %}
{% block content %}



<style>

  
    #badge-site{
        padding: 10px 60px;
        margin-left: 20px;
    }

    .user-rating{
        display: flex;
    }
  
    .user-rating h3{
        font-size: 3.5rem;
        margin-right: 10px;
        color:#666;
    }

    .rate{
        padding-top: 20px;
    }

    .no-user{
        padding-top: 30px;
    }
  
    
  </style>
  

 <div class="container" style="margin-top:30px">
    
    {% if messages %}
    
        {% for message in messages %}
        <div class="alert alert-success" role="alert" style="text-align: center;">
        <h5  {% if message.tags %} class=" {{ message.tags }} " style="font-family: unset;" {% endif %}> {{ message }} </h5>
        </div>
        {% endfor %}
    
        {% endif %}
     <div class="row my-2 shadow p-3 mb-5 bg-white rounded" style="margin-left: 210px; max-width: 700px; background: rgb(240,236,238); background: linear-gradient(365deg, rgba(240,236,238,1) 0%, rgba(250,249,250,1) 35%, rgba(255,255,255,1) 100%);">
        
        <div class="col-md-1" >
            
        {% if prof.account.image is None %}
        <img src="{% static 'static/images/default.jpg' %}" class="rounded-circle"  style="height:210px; width: 210px; transform: translateX(-130px); "> 
        {% else %}
            <img src="{{ prof.account.image.url }}" class="rounded-circle shadow"  style="height:210px; width: 210px; transform: translateX(-130px);"> 
            
        {% endif %}
        </div>   
        
        <div class="col-lg-9 order-2" style="margin-left: 50px;">
                <div class="text-left" id="profile">
                    <div class="row">
                        
                        <div class="col-md-12">
                            <h5 class="mt-2" style="font-family: unset; font-size: 25px;"> <strong>{{ account.username }} </strong>  profile <i class="fa fa-info-circle float-right"></i></h5>
                            <p class="name" style="margin-top: 10px; margin-bottom: 0px;">{{ account.first_name }} {{ account.last_name }}</p>
                            <p class="email" style="margin-bottom: 0px;"><i class="fa fa-envelope"></i> {{ account.email }}</p>
                            
                            <div class="user-rating">
                                <h3 class="average"> {{ average }}</h3>   
                                <div class="rate">  
                                {% if average < 1 %}<i class="fa fa-star" style="color: #cccccc;"></i>{% else %}<i class="fa fa-star"  style="color: #f8ce0b;"></i>{% endif %}
                                {% if average < 2 and average <= 1.5%}<i class="fa fa-star" style="color: #cccccc;"></i>{% else %}<i class="fa fa-star" style="color: #f8ce0b;"></i>{% endif %}
                                {% if average < 3 and average <= 2.5 %}<i class="fa fa-star" style="color: #cccccc;"></i>{% else %}<i class="fa fa-star"  style="color: #f8ce0b;"></i>{% endif %}
                                {% if average < 4 and average <= 3.5%}<i class="fa fa-star" style="color: #cccccc;"></i>{% else %}<i class="fa fa-star"  style="color: #f8ce0b;"></i>{% endif %}
                                {% if average < 5 and average <= 4.5%}<i class="fa fa-star" style="color: #cccccc;"></i>{% else %}<i class="fa fa-star"  style="color: #f8ce0b;"></i>{% endif %}
                                <br>
                                <span class="no-user">{{ count }} review</span>    
                            </div> 
                                   
                            </div>
                            
                            
                        </div>
                        {% if request.user == account.user %}
                        <a href="{% url 'account:modify' %}" class="badge badge-light" id="badge-site" style="margin-top: 10px; background-color: #fff9fe;">
                            Edit profile </a>
                        {% endif %}
                           
                       <br>
                            
                    </div>
                    <!--/row-->
                </div>
        </div>
        
                    
        </div>


        <br>
        <!--REVIEWS-->
        <div class="card-body " style="padding-top: 20px; padding-bottom: 0px;">
            <h3 class="text-center" style="font-family: revert;"> <strong>{{ prof.username }}</strong> reviews</h3>
            <br>
            {% if error %}
				<font color="red" style="font-size: 30px; text-align: center;">{{error}}</font>
			{% endif %}
             {% for review in reviews %}
                <div class="card shadow-sm p-3 mb-2 bg-white rounded" style="min-height: 250px; background: rgb(240,236,238); background: linear-gradient(365deg, rgba(240,236,238,1) 0%, rgba(250,249,250,1) 35%, rgba(255,255,255,1) 100%);">
                    <div class="card-body" >
                        <div class="row">
                            <div class="col-md-3" style="padding-left: 0px;">
                                <a href="{% url 'mainshop:detail' review.shop.id %}" title="" target="_blank" >
                                    <img class="shadow-sm p-2 mb-3" src="{{ review.shop.logo }}" style="width: 50%; margin-bottom:20px">
                                </a>
                                <br>
                                <div class="review-rating">
                                
                                    {% if review.rating < 1 %}<i class="fa fa-star" style="color: #cccccc;"></i>{% else %}<i class="fa fa-star"  style="color: #f8ce0b;"></i>{% endif %}
                                    {% if review.rating < 2 %}<i class="fa fa-star" style="color: #cccccc;"></i>{% else %}<i class="fa fa-star" style="color: #f8ce0b;"></i>{% endif %}
                                    {% if review.rating < 3 %}<i class="fa fa-star" style="color: #cccccc;"></i>{% else %}<i class="fa fa-star"  style="color: #f8ce0b;"></i>{% endif %}
                                    {% if review.rating < 4 %}<i class="fa fa-star" style="color: #cccccc;"></i>{% else %}<i class="fa fa-star"  style="color: #f8ce0b;"></i>{% endif %}
                                    {% if review.rating < 5 %}<i class="fa fa-star" style="color: #cccccc;"></i>{% else %}<i class="fa fa-star"  style="color: #f8ce0b;"></i>{% endif %}
                                                      
                                </div>

                                <h6 style="font-family: unset; font-size: 13px;">Published on <strong>{{ review.rev_date }}</strong></h6>
                                {% if request.user == account.user %}
                                
                                <form action="{% url 'mainshop:remove_review' %}" method="post">
                                    {% csrf_token %}
                                        
                                        <button type="submit" style="background-color: transparent; border: transparent; height: 20px;"><p><i class="fas fa-trash"></i> Delete</p></button>
                                        <input type="hidden" name="review_id" value={{review.id}}>
                                </form>
                                {% endif %}
                                
                            </div>
                            <div class="col-md-7" style="font-family: revert;">
                                <p><strong style="font-family: revert;">{{ review.title }}</strong></p>
                                <p> <strong>“</strong> {{ review.comment }} <strong>”</strong></p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                {% endfor %}
        </div>


    </div>
</div>



{% endblock content %}

