<!DOCTYPE html>
<html lang="en">
<head>
	<title>Registration</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
{% block css %}
{% load static %}

<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'registration_template/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration_template/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration_template/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration_template/fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration_template/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration_template/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'registration_template/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration_template/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration_template/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'registration_template/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'registration_template/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'registration_template/css/main.css' %}">
<!--===============================================================================================-->
{% endblock %}

{% load crispy_forms_tags %}

{% block content %}

<div class="limiter">
    <div class="container-login100" style="justify-content: center; align-items: center;">
        <div class="wrap-login100 p-t-50 p-b-20">
			<span class="login100-form-title p-b-39 text-center" style="color: #e7539b;">
				Sign up
			</span>
            <form action="" method="POST" >
				{% csrf_token %}
				
				{% if error %}
				<font color="red">{{error}}</font>
				{% endif %}
				
				{{ form | crispy }}

					<br>
					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" class="login100-form-btn"> Sign Up </button>
						</div>

						<a href="{% url 'account:login' %}" class="dis-block txt3 hov1 p-r-30 p-t-10 p-b-10 p-l-30">
							Sign in
							<i class="fa fa-long-arrow-right m-l-5"></i></a>
            </form>
        </div>
    </div>
</div>

{% endblock %}



 <!-- Template JS code -->
 {% block js %}
           
 <!--===============================================================================================-->
     <script src="{% static 'registration_template/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
 <!--===============================================================================================-->
     <script src="{% static 'registration_template/vendor/animsition/js/animsition.min.js' %}"></script>
 <!--===============================================================================================-->
     <script src="{% static 'registration_template/vendor/bootstrap/js/popper.js' %}"></script>
     <script src="{% static 'registration_template/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
 <!--===============================================================================================-->
     <script src="{% static 'registration_template/vendor/select2/select2.min.js' %}"></script>
 <!--===============================================================================================-->
     <script src="{% static 'registration_template/vendor/daterangepicker/moment.min.js' %}"></script>
     <script src="{% static 'registration_template/vendor/daterangepicker/daterangepicker.js' %}"></script>
 <!--===============================================================================================-->
     <script src="{% static 'registration_template/vendor/countdowntime/countdowntime.js' %}"></script>
 <!--===============================================================================================-->
     <script src="{% static 'registration_template/js/main.js' %}"></script>
 
     {% endblock %}