{% extends 'mainshop/base.html' %}


{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<style>
    /*------------------------------------------------------------------
[ Button ]*/
.container-contact100-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 43px;
}

.contact100-form-btn {
 
  
  align-items: center;
  padding: 0 20px;
  min-width: 160px;
  height: 42px;
  background-color: #eb37dc;
  border-radius: 21px;

  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  padding-top: 5px;

  

  
}

.contact100-form-btn:hover {
  background-color: #542349;
  
}
</style>




<div class="container">
    <h3 class="text-center" style="font-family: unset;">Contact us <i class="fas fa-envelope"></i></h3>
            
        {% if message %}
        <div class="alert alert-success" role="alert" style="text-align: center;">
            {{ message }}
          </div>
          {% else %}
          <span class="text-center" style="margin-left: 250px; color: rgb(124, 124, 124);">
            If you want to contact us send an email to <strong>shoptrust.web@gmail.com</strong> or use our form.
        </span>
        <br>
        <div class="card" style="background: rgb(240,236,238);
            background: linear-gradient(365deg, rgba(240,236,238,1) 0%, rgba(250,249,250,1) 35%, rgba(255,255,255,1) 100%); border:1px;">
             
  
        <div class="card-body" >
            <form action="" method="POST">
                {% csrf_token %}
                    {{ form | crispy }}
                <div class="container-contact100-form-btn">
					<button class="contact100-form-btn">
						Send Email
					</button>
				</div>
            </form>
            {% endif %}
        </div>
    </div>
</div>





{% endblock %}